/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    color: #fff;
    font-size: 25px;
    background: #ff900e;
    margin: 25px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner img{
    margin-top: 50px;
    width: 100%;
}

/* reponsive media queries */
/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}

/* tablat device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}
